tmp/*
pre-process/**/*.npy
pre-process/grayscales/*
pre-process/hogs/*
pre-process/sobel/*
pre-process/lbps/*
pre-process/data/*
resultados/modelos-treinados/random-forest-faixas-pedestre.pkl
downloads/full
downloads/full_unzipped
resultados/modelos-treinados